footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #0d0e0f;
  z-index: 100;
}

footer button {
  border: none;
  margin: 0;
  height: 100%;
  width: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.florian:not(.active) {
  background-color: #0d0e0f;
  color: #a3a2a2;
}

.julien:not(.active) {
  background-color: #0d0e0f;
  color: #a3a2a2;
}

.florian.active,
.julien.active {
  background-color: #161818;
  color: white;
}

.florian:not(.active):hover {
  background-color: #0a0b0c;
}

.julien:not(.active):hover {
  background-color: #0a0b0c;
}
