.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.nav-container button {
  border: none;
  font-size: 18px;
  padding: 10px;
  width: 35%;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-container button:active {
  transform: scale(0.98);
}

.saisie {
  background-color: #1a90d3;
  color: white;
}

.historique {
  background-color: #15171a;
  color: #a3a2a2;
}
